<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 form-login">
                <h4>Admin</h4>
                <form action="{% url 'admin' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit">Login</button>
                </form>                
            </div>
        </div>
    </div>
</body>
</html>
```